<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <!-- <link rel="stylesheet" href="css/bootstrap.css" /> -->
  <link rel="stylesheet" type="text/css" href="/static/custom.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Travel University</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/searchSections">Add</a></li>
              <li><a class="dropdown-item" href="/courseCatalog">Browse Course Catalog</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transcripts">Transcripts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transcripts">Drop</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="container-fluid w-85 mx-auto" style="margin-top: 10px;">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Search Results</h5>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Subject</th>
              <th scope="col">Course Number</th>
              <th scope="col">Title</th>
              <th scope="col">Credits</th>

            </tr>
          </thead>
          <tbody>
            {% for i in courses %}
            <tr>
              <td>{{i[2]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[3]}}</td>
              <td>{{i[4]}}</td>


            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</body>